NEXT_PUBLIC_SUPABASE_URL=https://sgzxhycdfrbuqgymlcxa.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNnenhoeWNkZnJidXFneW1sY3hhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM4NzMxODgsImV4cCI6MjA5OTQ0OTE4OH0.adj1HrCIS_NPp40vBBglshPZkpUETq4WBnR7Zjtn3eM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNnenhoeWNkZnJidXFneW1sY3hhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg3MzE4OCwiZXhwIjoyMDk5NDQ5MTg4fQ.LIOzDPDyjmSaolYpeyH8cipBCx0KzgT4Zc86KYDAxM8